<% @response["results"].each do |bill_hash| %>

<ul>
 	<li>
    <%= link_to(short_title_handler(bill_hash), bill_hash["bill_id"]) %> </li>
  <li>
  	<%= official_title_handler(bill_hash['official_title']) %>
  </li>
</ul>

<% end  %>
