<% @response["results"].each do |bill_hash| %>

<ul>
 	<li> <a href="/modal/#{bill_hash["bill_id"]}">
	  <%= short_title_handler(bill_hash) %>
	</a> </li>

  <li>  
  	<%= official_title_handler(bill_hash['official_title']) %>
  </li>
</ul>

<% end  %>
