<% @response["results"].each do |bill_hash| %>

<ul class="bill-search-results">
 	<li class="result">
    <%= link_to(short_title_handler(bill_hash), bills_path(:bill_id => bill_hash["bill_id"]), :method => :post) %> <br />
    <%= official_title_handler(bill_hash['official_title']) %>
  </li>
</ul>

<% end  %>
