<section class="home">
  <div class="wrap">
    <img src="/assets/logo-mark-beagle.png" class="home-logo" />
    <h1 class="home-title">Beagle</h1>
    <p class="home-subtitle">Easy to use up-to-date widgets for congressional <a href="http://www.youtube.com/watch?v=H-eYBZFEzf8" target="_blank" style='color:white'> bills</a> you care about.</p>
    <%= form_tag('/search', :remote => true, :class => "home-form") do %>
    <%= text_field_tag "query", nil, :class => "home-search-field", :placeholder => "eg. SOPA" %>
    <%= submit_tag "Find Bills", :class => "home-search-submit" %>
    <% end %>
    <div class="results">
      <h2>What does Beagle do?</h2>
      <p>Beagle helps you share the progress of a Bill, its current status, and provides links to more resources by giving you a code snippet to embed the Bill wherever you want.</p>
    </div>
  </div>
</section>

<div class="modal-container">
  <div class="modal-popup">
    <a href="#exit" class="exit">X</a>
    <div class="code-iframe-container">
      <fieldset style="text-align:left;">
        <legend><h2>Your Bill's Widget!</h2></legend>
        <div class="code-iframe">
        </div>
      </fieldset>
    </div>
    <div class= "code-snippet-container">
      <fieldset style="text-align:left;">
        <legend><h2>Your Embeddable Code!</h2></legend>
        <p>1. Copy the code below </p>
        <p>2. Paste anywhere HTML works! </p>
        <pre class="code-snippet" contenteditable="true"></pre>
        <!-- <button class="copy-button">Copy to clipboard</button> -->
      </fieldset>
    </div>
  </div>
</div>
