<section class="home">
  <div class="wrap">
    <img src="/assets/logo-mark-beagle.png" class="home-logo" />
    <h1 class="home-title">Beagle</h1>
    <p class="home-subtitle">Grab the latest news on the <a href="http://www.youtube.com/watch?v=H-eYBZFEzf8" target="_blank">bills</a> you care about.</p>
    <%= form_tag('/search', :remote => true, :class => "home-form") do %>
      <%= text_field_tag "query", nil, :class => "home-search-field", :placeholder => "eg. SOPA" %>
      <%= submit_tag "Find Bills", :class => "home-search-submit" %>
    <% end %>
    <div class="code-snippet">
    </div>
    <div class="results">
      <h2>What does Beagle do?</h2>
      <p>Beagle helps you share the progress of a Bill, its current status, and provides links to more resources by giving you a code snippet to embed the Bill wherever you want.</p>
    </div>
  </div>
</section>

<div class="modal-container">
  <div class="modal-popup">
    <h2>Here's your code!</h2>
    <p>Copy the code below and paste it in your website for an awesome widget</p>

    <pre class="code-snippet-container"></pre>
    <button class="copy-button">Copy to clipboard</button>
  </div>
</div>
