<div class="container">
  <h1>SEARCH BILL</h1>
  <%= form_tag('/search', :remote => true) do %>
  <%= text_field_tag 'query' %>
  <%= submit_tag 'Search' %>
  <% end %>
  <div class="results">
  </div>
</div>
