
/*  ==========================================
    Table of Contents for Style guide
    ==========================================

    0.0  SASS Variables and Mixins
    1.0  General app styles

============================================== */


/*  ==========================================
    0.0  Variables and Mixins
    ========================================== */

$true_blue: #3498db;
$dark_blue: #2980B9;
$success_green: #2ecc71;
$primary_fontstack: "Helvetica Neue", "Hevetica", sans-serif;
$orange: #f2a31a;


// For tablets and mid-sized mobile devices. Typically 54em; but set here at 767px for Bootstrap compatibility.
@mixin mq-tablet {
  @media (max-width: 54em) {
    @content;
  }
}

// For smartphones and personal (small) mobile devices. Typically 30em.
@mixin mq-personal {
  @media  (max-width: 30em) {
    @content;
  }
}

/*  ==========================================
    1.0  General app styles
        (Includes things such as body,
        tables, lists, headers, etc.)
    ========================================== */

body {
  font-family: $primary_fontstack;
  font-style: large;
  background-color: $true_blue;
  color:white;
}

a {
  color:$true_blue;
}

.wrap {
  max-width: 800px;
  width:92%;
  margin:0 auto;
}

.home {
  color:white;
}

.home-logo {
  margin:3em auto 1em;
  display:block;
}

.home-title {
  text-align: center;
  font-weight: bold;
  font-size:6em;
  margin:0 auto;
}

.home-subtitle {
  text-align: center;
  font-size: 1.1em;
}

.home-form {
  margin:2em 0;
  margin:0 auto;
}

.home-search-field {
  border:1px solid rgba(0,0,0,.3);
  background:white;
  font-size:1.5em;
  padding:.5em;
  border-top-left-radius:6px;
  border-bottom-left-radius:6px;
  height:28px;
  width:80%;

  @include mq-tablet {
    display: block;
    width: 92%;
    padding: .5em 4%;
    border-radius:4px;
    margin-bottom: 1em;
  }
}

.home-search-submit {
  padding: .7em 1em;
  font-size: 1.2em;
  color: white;
  background: $orange;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 55px;
  position: relative;
  top: -2px;
  left: -6px;
  width:15.9999%;

  @include mq-tablet {
    display: block;
    width: 70%;
    padding: .5em 4%;
    border-radius:4px;
    margin-bottom: 1em;
    text-align: center;
    margin: 0 auto;
  }
}

.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  display: none;
}

.modal-popup {
  width: 70%;
  height:65%;
  margin: 3em auto;
  background: #fafafa;
  color: #333;
  padding: 2em 4%;
  border:1px solid rgba(0,0,0,.5);
  box-shadow:0 0 10px rgba(0,0,0,.3);
  border-radius:4px;
  position: relative;

  h2 {
    text-align: left;
    font-size: 2em;
    margin-top: 0;
  }

  p { text-align: left; }
  a {
      text-align:right;
      font-size: 2em;
      top: 0px; right: 0px;
      position:absolute;
      text-decoration: none;
      color: $orange;
      padding:.25em .5em 0 0;
    }
}

.code-snippet-container{
  display: block;
  width: 49%;
  height: 400px;
  height: 100%;
  height:auto;
  float: right;
}

.code-snippet {
  width: 350px;
  background: #eee;
  padding: 1em 4%;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}
.code-iframe-container{
  width: 50%;
  min-width: 30%;
  height: 400px;
  display:block;
  border:none;
  float: left;
}

.code-iframe iframe {
  width: 100%;
  margin: 0 auto;
  height: 390px;
}

.copy-button {
  padding: .5em 1em;
  font-size: 1.4em;
  color: white;
  background: $orange;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:4px;
  margin:0 auto;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  display: block;
  // width:100%;

  &:hover {
    background-color:lighten($orange, 10%);
  }
  &:active {
    background-color:darken($orange, 10%);
    box-shadow:inset 0 1px 3px rgba(0,0,0,.3);
  }
}


/*  ==========================================
    2.0  Widget / Bill show pages
    ========================================== */

.bill-container {
  width:92%;
  max-width: 500px;
  margin:0 auto;
  text-align: center;
  background-color:white;
  color:#333;
  padding:2em 4%;
  border-radius:6px;
  border:1px solid rgb(42, 117, 167);
  line-height: 1.2;
}

.bill-id {
  text-transform:uppercase;
  font-weight: 100;
  font-size: 2.5em;
  margin:0 auto .75em;
}

.bill-popular-title {
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.4;
}

.bill-official-title {
  font-style: italic;
}

.bill-status {
  list-style: none;
  margin:0;
  padding:0;
}

.status {
  display: block;
  padding: 1em 0;
  line-height: 1.5;
  background-color:#fafafa;
  color:#aaa;
  font-style: italic;
  font-weight: normal;
  border-bottom:1px solid white;

  &:first-child {
    border-top-left-radius:4px;
    border-top-right-radius:4px;
  }

  &:last-child {
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
  }
}

.active-status {
  font-weight: bold;
  font-style:normal;
  background-color:$true_blue;
  color:white;

  .status-date { font-weight:normal; }
}

.bill-section-header {
  font-weight: normal;
  font-size:1.5em;
  color:#333;
  font-weight: 300;
}

.more-resources {
  margin:0;
  padding:0;
  list-style: none;

  li {
    margin-bottom:.5em;
  }
}

.result {
  list-style: none;
  margin: 1em 0;
  padding: 1em 4%;
  background-color: #2980b9;
  width:90%;
  border-radius:2px;
  font-weight: 300;
  border:4px solid $dark_blue;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  a { color:inherit; font-size:1.5em; text-decoration:none; margin-bottom:1em; }
  a:hover { color:darken($dark_blue, 5%); }

  &:hover {
    background-color: $true_blue;
    border-color:white;
    border-radius:4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

.beagle-footer-logo {
  margin:2em auto 0;
  display:block;
}

.bill-search-results {
  padding-left: 0px;

}
